@import "variables";

.contact_container {
  margin-top: 15rem;

  h1 {
    font-size: 2rem;
    margin: 1rem 2rem;
    color: @eggplant;
  }
}

.contact_form {
  display: flex;
  flex-direction: column;
  border: 3px @eggplant solid;
  border-radius: 1rem;
  width: 50rem;
  margin: 2rem 2rem 5rem;
  padding: 2rem;
  color: @eggplant;

  label {
  font-size: 1.2rem;
  margin: .5rem 0;
  }

  input {
  border-radius: .5rem;
  height: 1.5rem;
  background-color: @light_gray;
  color: @eggplant;
  }

  textarea {
  border-radius: .5rem;
  height: 10rem;
  background-color: @light_gray;
  color: @ghost_white;
  }

  button {
    margin: 1rem auto;
    height: 3rem;
    border-radius: 2rem;
    width: 50%;
    background-color: @light_gray;
    color: @eggplant;
  }

  button:hover {
   background-color: @eggplant;
   color: @ghost_white;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
  }
}