@import "variables";
@import "mixins";

html {
  background-color: @ghost_white;
}
.App {
  transition:.7s ease-in-out;
  padding-left: 4rem;
  background-color: @ghost_white;
  color: @deep_space_sparkle;
  font-family: 'Raleway', sans-serif;

  .responsive(1675px, {
    margin-left: -4rem;
  });
}

.title {
  font-size: 1.4rem;
  margin-top: 1rem;
}