@import "variables";
@import "mixins";

.landing_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .responsive(1675px, {
    flex-direction: column-reverse;
  })
}

.lead_content {
  padding: 2rem;
  margin: 2rem;
  width: 60rem;
  font-size: 1.5rem;
  line-height: 2rem;

  .responsive(1675px, {
    margin: 0 auto;
  });

  .responsive(980px, {
    width: 45rem;
  });

  .responsive(740px, {
    width: 35rem;
  });

  .responsive(575px, {
    width: 25rem;
  });

  .responsive(415px, {
    width: 20rem;
  });

  h3 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    padding-top: 2rem;
    text-decoration: underline;
    color: @eggplant;
  }
}
.side_bar {
  padding: 2rem;
  margin: 1rem;
  background-image: url("../images/mother.jpg");
  background-size: cover;
  opacity: 20;
  color: @ghost_white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20rem;
  border-radius: 1rem;
  border: 5px solid @eggplant;
  //box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
  //-webkit-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
  position: relative;

  .responsive(1675px, {
    align-content: center;
    align-self: center;
    display: block;
    width: 1200px;
    margin: 0 auto;
    background-image: url("../images/sidebar_bg.jpeg");

    img {
      //display: flex;
      //justify-content: center;
      display: none;
    }

    .tablet_container {
      display: flex;
      flex-direction: row;
      margin: 5px;

      .tablet_mode {
        width: 300px;
        background-color: @black_rgba;
      }
    }
  });

  .responsive(1250px, {
    width: 900px;
  });

  .responsive(1050px, {
    width: 700px;
  });

  .responsive(755px, {
    flex-direction: row;
    flex-wrap: wrap;
    width: 550px;

    .tablet_container {
      flex-wrap: wrap;
      width: 500px;
    }

    .tablet_btn {
      display: flex;
      margin: 1rem auto;
    }

    .tablet_mode {
      display: none;
      p {
        font-size: 1rem;
      }
    }

    .hide_sidebar {
      .tablet_mode {
        display: contents;
      }
    }
  });

  .responsive(575px, {
    width: 400px;
  });

  .responsive(440px, {
    width: 300px;
  });


  hr {
    width: 100%;
    margin: .3rem 0 .5rem 0;
    color: @side_bar_color;
    justify-content: flex-start;
  }

  p {
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: @side_bar_color;
  }

  h2 {
    margin: 0 auto;
    padding: .5rem;
    font-size: 2rem;
    text-align: center;
  }

  h3 {
    font-size: 1.5rem;
  }
}

.profile_photo {
  border-radius: 2rem;
  height: 20rem;
  width: 15rem;
  margin: 1rem auto;
}

.side_bar_title {
  background-color: @black_rgba;
  border-radius: 1rem;
}

.tablet_btn {
  display: none;
  padding: .5rem;
  width: 15rem;
  border-radius: 3rem;
  justify-content: center;
  transition-duration: 0.4s;
  background-color: @light_gray;
  color: @eggplant;
}

.show_less {
  display: none;
}


