@import "variables";

.landing_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.lead_content {
  padding: 2rem;
  margin: 2rem;
  width: 60rem;
  font-size: 1.5rem;
  line-height: 2rem;

  h3 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    padding-top: 2rem;
    text-decoration: underline;
    color: @eggplant;
  }
}
.side_bar {
  padding: 2rem;
  margin: 1rem;
  background-image: url("../images/sidebar_bg.jpg");
  opacity: 20;
  color: @ghost_white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20rem;
  border-radius: 1rem;
  border: 5px solid @eggplant;
  //box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
  //-webkit-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
  position: relative;


  hr {
    width: 100%;
    margin: .3rem 0 .5rem 0;
    color: @side_bar_color;
    justify-content: flex-start;
  }

  p {
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: @side_bar_color;
  }

  h2 {
    margin: 0 auto;
    padding: .5rem;
    font-size: 2rem;
    text-align: center;
  }

  h3 {
    font-size: 1.5rem;
  }
}

.profile_photo {
  border-radius: 2rem;
  height: 20rem;
  width: 15rem;
  margin: 1rem auto;
}
