@import "variables";
@import "mixins";

.nav_container {
  background-color: @ghost_white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 65rem;
  height: 3rem;
  margin: 1rem auto 0 6rem;
  border-radius: 1rem;
  border: 3px solid @eggplant;
  transition: all .7s ease-in;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9999;

  .responsive(1675px, {
    margin: 2rem auto;
  });

  .responsive(1055px, {
    width: 55rem;
  });

  .responsive(920px, {
    width: 40rem;
  });

  .responsive(665px, {
    width: 30rem;
  });

  .responsive(575px, {
    width: 28rem;
  });

  .responsive(470px, {
    width: 20rem;
    a {
      display: none;
    }
  });

  a {
    text-decoration: none;
    color: @eggplant;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    padding: .8rem 1rem;
    border-radius: .3rem;
  }

  a:hover {
    background-color: @eggplant;
    color: @ghost_white;
  }
}