@import "variables";

.nav_container {
  background-color: @eggplant;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 60rem;
  height: 3rem;
  margin: 3rem auto 0 9rem;
  border-radius: 1rem;
  border: 3px solid @light_gray;

  a {
    text-decoration: none;
    color: @ghost_white;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    padding: .8rem 1rem;
    border-radius: .3rem;
  }

  a:hover {
    background-color: @light_gray;
    color: @deep_space_sparkle;
  }
}