@side_bar_color: #ffffff;
@accent_color: #6495ed;
@ghost_white: #E8E9F3;
@ghost_white_rgba: rgba(232, 233, 243, .6);
@light_gray: #CECECE;
@non_photo_blue: #B1E5F2;
@eggplant: #684551;
@eggplant_rgba: rgba(104, 69, 81, .4);
@deep_space_sparkle: #4A6670;