/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  background-color: #4A6670;
}
.App {
  padding-left: 4rem;
  background-color: #4A6670;
  color: #E8E9F3;
  font-family: 'Raleway', sans-serif;
}
.title {
  font-size: 1.4rem;
  margin-top: 1rem;
}
.nav_container {
  background-color: #684551;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 60rem;
  height: 3rem;
  margin: 1rem auto 0 9rem;
  border-radius: 1rem;
  border: 3px solid #CECECE;
  transition: all 0.7s ease-in;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9999;
}
.nav_container a {
  text-decoration: none;
  color: #E8E9F3;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  padding: 0.8rem 1rem;
  border-radius: 0.3rem;
}
.nav_container a:hover {
  background-color: #CECECE;
  color: #4A6670;
}
.landing_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.lead_content {
  padding: 2rem;
  margin: 2rem;
  width: 60rem;
  font-size: 1.5rem;
  line-height: 2rem;
}
.lead_content h3 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  padding-top: 2rem;
  text-decoration: underline;
}
.side_bar {
  padding: 2rem;
  margin: 1rem;
  background-image: url("../images/sidebar_bg.jpg");
  opacity: 20;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20rem;
  border-radius: 1rem;
  border: 3px solid #ffffff;
  position: relative;
}
.side_bar hr {
  width: 100%;
  margin: 0.3rem 0 0.5rem 0;
  color: #ffffff;
  justify-content: flex-start;
}
.side_bar p {
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: #ffffff;
}
.side_bar h2 {
  margin: 0 auto;
  padding: 0.5rem;
  font-size: 2rem;
  text-align: center;
}
.side_bar h3 {
  font-size: 1.5rem;
}
.profile_photo {
  border-radius: 2rem;
  height: 20rem;
  width: 15rem;
  margin: 1rem auto;
}
.contact_container {
  margin-top: 15rem;
}
.contact_container h1 {
  font-size: 2rem;
  margin: 1rem 2rem;
}
.contact_form {
  display: flex;
  flex-direction: column;
  border: 3px #CECECE solid;
  border-radius: 1rem;
  width: 50rem;
  margin: 2rem 2rem 5rem;
  padding: 2rem;
}
.contact_form label {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}
.contact_form input {
  border-radius: 0.5rem;
  height: 1.5rem;
  background-color: #E8E9F3;
}
.contact_form textarea {
  border-radius: 0.5rem;
  height: 10rem;
  background-color: #E8E9F3;
}
.contact_form button {
  margin: 1rem auto;
  height: 3rem;
  border-radius: 2rem;
  width: 50%;
  background-color: #CECECE;
  color: #684551;
}
.contact_form button:hover {
  background-color: #684551;
  color: #E8E9F3;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}
.carousel_container {
  margin-left: 11rem;
  margin-top: -38rem;
  width: 60rem;
}
.carousel_container img {
  border-radius: 1rem;
  height: 33rem;
}
.carousel_container h1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 2rem 0;
  padding-top: 2rem;
  text-decoration: underline;
}
.carousel_container p {
  margin-top: 10rem;
  background-color: rgba(232, 233, 243, 0.6);
  color: #684551;
  font-weight: bold;
  border-radius: 1rem;
}
.project_about {
  width: 60rem;
  font-size: 1.5rem;
  line-height: 2rem;
}
.project_about h2 {
  padding-bottom: 1rem;
  font-size: 1.8rem;
}
.project_about h5 {
  margin-left: 0;
}
.project_links {
  display: flex;
  flex-direction: row;
  margin: 1rem 0.5rem 1rem 0;
}
.project_links a {
  text-decoration: none;
  color: #684551;
  background-color: #CECECE;
  padding: 0.8rem;
  border-radius: 0.8rem;
  margin: 1rem;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}
.project_links a:hover {
  background-color: #684551;
  color: #E8E9F3;
}
