/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  background-color: #E8E9F3;
}
.App {
  transition: 0.7s ease-in-out;
  padding-left: 4rem;
  background-color: #E8E9F3;
  color: #4A6670;
  font-family: 'Raleway', sans-serif;
}
@media only screen and (max-width: 1675px) {
  .App {
    margin-left: -4rem;
  }
}
.title {
  font-size: 1.4rem;
  margin-top: 1rem;
}
.nav_container {
  background-color: #E8E9F3;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 65rem;
  height: 3rem;
  margin: 1rem auto 0 6rem;
  border-radius: 1rem;
  border: 3px solid #684551;
  transition: all 0.7s ease-in;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9999;
}
@media only screen and (max-width: 1675px) {
  .nav_container {
    margin: 2rem auto;
  }
}
@media only screen and (max-width: 1050px) {
  .nav_container {
    width: 55rem;
  }
}
@media only screen and (max-width: 920px) {
  .nav_container {
    width: 40rem;
  }
}
.nav_container a {
  text-decoration: none;
  color: #684551;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  padding: 0.8rem 1rem;
  border-radius: 0.3rem;
}
.nav_container a:hover {
  background-color: #684551;
  color: #E8E9F3;
}
.landing_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media only screen and (max-width: 1675px) {
  .landing_container {
    flex-direction: column-reverse;
  }
}
.lead_content {
  padding: 2rem;
  margin: 2rem;
  width: 60rem;
  font-size: 1.5rem;
  line-height: 2rem;
}
@media only screen and (max-width: 1675px) {
  .lead_content {
    margin: 0 auto;
  }
}
@media only screen and (max-width: 980px) {
  .lead_content {
    width: 45rem;
  }
}
.lead_content h3 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  padding-top: 2rem;
  text-decoration: underline;
  color: #684551;
}
.side_bar {
  padding: 2rem;
  margin: 1rem;
  background-image: url("../images/mother.jpg");
  background-size: cover;
  opacity: 20;
  color: #E8E9F3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20rem;
  border-radius: 1rem;
  border: 5px solid #684551;
  position: relative;
}
@media only screen and (max-width: 1675px) {
  .side_bar {
    align-content: center;
    align-self: center;
    display: block;
    width: 1200px;
    margin: 0 auto;
    background-image: url("../images/sidebar_bg.jpeg");
  }
  .side_bar img {
    display: none;
  }
  .side_bar .tablet_container {
    display: flex;
    flex-direction: row;
    margin: 5px;
  }
  .side_bar .tablet_container .tablet_mode {
    width: 300px;
    background-color: rgba(0, 0, 0, 0.4);
  }
}
@media only screen and (max-width: 1250px) {
  .side_bar {
    width: 900px;
  }
}
@media only screen and (max-width: 1050px) {
  .side_bar {
    width: 700px;
  }
}
@media only screen and (max-width: 755px) {
  .side_bar {
    flex-direction: row;
    flex-wrap: wrap;
    width: 550px;
  }
  .side_bar .tablet_container {
    flex-wrap: wrap;
    width: 500px;
  }
  .side_bar .tablet_btn {
    display: flex;
    margin: 1rem auto;
  }
  .side_bar .tablet_mode {
    display: none;
  }
  .side_bar .tablet_mode p {
    font-size: 1rem;
  }
  .side_bar .hide_sidebar .tablet_mode {
    display: contents;
  }
}
.side_bar hr {
  width: 100%;
  margin: 0.3rem 0 0.5rem 0;
  color: #ffffff;
  justify-content: flex-start;
}
.side_bar p {
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: #ffffff;
}
.side_bar h2 {
  margin: 0 auto;
  padding: 0.5rem;
  font-size: 2rem;
  text-align: center;
}
.side_bar h3 {
  font-size: 1.5rem;
}
.profile_photo {
  border-radius: 2rem;
  height: 20rem;
  width: 15rem;
  margin: 1rem auto;
}
.side_bar_title {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
}
.tablet_btn {
  display: none;
  padding: 0.5rem;
  width: 15rem;
  border-radius: 3rem;
  justify-content: center;
  transition-duration: 0.4s;
  background-color: #CECECE;
  color: #684551;
}
.show_less {
  display: none;
}
.contact_container {
  margin-top: 15rem;
}
.contact_container h1 {
  font-size: 2rem;
  margin: 1rem 2rem;
  color: #684551;
}
@media only screen and (max-width: 1050px) {
  .contact_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.contact_form {
  display: flex;
  flex-direction: column;
  border: 3px #684551 solid;
  border-radius: 1rem;
  width: 50rem;
  margin: 2rem 2rem 5rem;
  padding: 2rem;
  color: #684551;
  background-size: cover;
}
@media only screen and (max-width: 850px) {
  .contact_form {
    width: 40rem;
  }
}
.contact_form label {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}
.contact_form input {
  border-radius: 0.5rem;
  height: 1.5rem;
  background-color: #CECECE;
  color: #684551;
}
.contact_form textarea {
  border-radius: 0.5rem;
  height: 10rem;
  background-color: #CECECE;
  color: #684551;
}
.contact_form button {
  margin: 1rem auto;
  height: 3rem;
  border-radius: 2rem;
  width: 50%;
  background-color: #684551;
  color: #E8E9F3;
}
.contact_form button:hover {
  background-color: #5cb85c;
  color: #E8E9F3;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}
.carousel_container {
  margin-left: 11rem;
  margin-top: -38rem;
  width: 60rem;
}
@media only screen and (max-width: 1675px) {
  .carousel_container {
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1050px) {
  .carousel_container {
    width: 45rem;
  }
}
@media only screen and (max-width: 755px) {
  .carousel_container {
    width: 38rem;
  }
}
.carousel_container img {
  border-radius: 1rem;
  height: 33rem;
}
.carousel_container h1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 2rem 0;
  padding-top: 2rem;
  text-decoration: underline;
  color: #684551;
}
.carousel_container p {
  margin-top: 10rem;
  background-color: rgba(232, 233, 243, 0.6);
  color: #684551;
  font-weight: bold;
  border-radius: 1rem;
}
.project_about {
  width: 60rem;
  font-size: 1.5rem;
  line-height: 2rem;
}
@media only screen and (max-width: 1050px) {
  .project_about {
    width: 45rem;
  }
}
@media only screen and (max-width: 755px) {
  .project_about {
    width: 35rem;
  }
}
.project_about h2 {
  padding-bottom: 1rem;
  font-size: 1.8rem;
  color: #684551;
}
.project_about h5 {
  margin-left: 0;
}
.project_links {
  display: flex;
  flex-direction: row;
  margin: 1rem 0.5rem 1rem 0;
}
.project_links a {
  text-decoration: none;
  color: #684551;
  background-color: #CECECE;
  padding: 0.8rem;
  border-radius: 0.8rem;
  margin: 1rem;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}
.project_links a:hover {
  background-color: #684551;
  color: #E8E9F3;
}
@media only screen and (max-width: 1050px) {
  .project_links a {
    margin: 1rem auto;
  }
}
@media only screen and (max-width: 755px) {
  .project_links a {
    font-size: 1rem;
  }
}
.tarot_img {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.tarot_img img {
  margin: 1rem 8rem;
  padding: 0 1rem;
  border-radius: 1.3rem;
}
.tarot_p {
  margin: 0 auto 12rem;
  width: 15rem;
  line-height: 2;
}
.dark_mode_container {
  display: flex;
  justify-content: flex-end;
  width: 11rem;
  color: #121212;
}
.dark_mode_container p {
  margin-right: 1rem;
}
.dark_mode_container ion-icon {
  margin-right: 1rem;
}
.dark-mode__toggle {
  background: #121212;
  border-radius: 50px;
  border: 1px solid #CECECE;
  height: 20px;
  position: relative;
  width: 40px;
}
.toggle {
  background: #E8E9F3;
  border-radius: 50px;
  height: 18px;
  left: 0;
  position: absolute;
  transition: 0.2s;
  width: 20px;
}
.toggled {
  left: 18px;
}
.dark-mode {
  background-color: #121212;
  color: #E8E9F3;
  transition: 1s ease-in-out;
}
.dark-mode html {
  background-color: #121212;
}
.dark-mode .App {
  color: rgba(232, 233, 243, 0.6);
  background-color: #121212;
  padding-top: 0.3rem;
  transition: 0.7s ease-in-out;
}
.dark-mode .App .nav_container {
  background-color: #684551;
  color: #E8E9F3;
  border: 1px solid #E8E9F3;
}
.dark-mode .App .nav_container a {
  color: #E8E9F3;
}
.dark-mode .App .nav_container a:hover {
  background-color: #CECECE;
  color: #684551;
}
.dark-mode .App .dark-mode__toggle {
  background-color: #E8E9F3;
}
.dark-mode .App .toggle {
  background-color: #121212;
}
.dark-mode .App h1 {
  color: #E8E9F3;
}
.dark-mode .App h2 {
  color: #E8E9F3;
}
.dark-mode .App h3 {
  color: #E8E9F3;
}
.dark-mode .App .contact_container {
  padding-bottom: 1rem;
}
.dark-mode .App .contact_form {
  color: #E8E9F3;
  border: 3px #E8E9F3 solid;
  background-color: rgba(104, 69, 81, 0.7);
}
.dark-mode .App .contact_form input {
  color: #121212;
}
.dark-mode .App .contact_form textarea {
  color: #121212;
}
.dark-mode .App .contact_form button {
  background-color: #CECECE;
  color: #684551;
}
.dark-mode .App .contact_form button:hover {
  background-color: #5cb85c;
  color: #E8E9F3;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}
.dark-mode .App .side_bar {
  border: 5px solid #E8E9F3;
}
.dark-mode .App .dark_mode_container {
  color: #E8E9F3;
}
.dark-mode .tarot_p {
  color: rgba(232, 233, 243, 0.6);
}
.dark-mode #tarot_p_background {
  background-color: rgba(232, 233, 243, 0.1);
  padding: 0.5rem;
}
